<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Customer" asp-action="Index">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Sale" asp-action="Index">Sales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Notification" asp-action="Index">Notifications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="UserAddress" asp-action="Index">Addresses</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Region" asp-action="Index">Regions</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lists
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-area="Admin" asp-controller="OfferStatus" asp-action="Index">Offer Status</a>
            </li>
        </ul>
    </li>
</ul>